{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered" id="employee_table">
          <tr>
            <th scope="col" style="width:40%;">従業員ID</th>
            <th scope="col" style="width:40%;">ニックネーム</th>
            <th scope="col" style="width:20%;">操作</th>
          </tr>
          {% if employees|length > 0 %}
            {% for employee in employees %}
            <tr>
              <td>{{employee.employee_id|safe}}</td>
              <td>{{employee.nickname|safe}}</td>
              <td>
                <form method="post" action="/edit_employee">
                  <button type="submit" class="btn btn-success" id="editBtn">修正</button>
                  <input type="hidden" name="employee_id" value="{{employee.employee_id}}">
                </form>
                <form method="post" action="/del_employee">
                  <button type="submit" class="btn btn-danger" id="delBtn">削除</button>
                  <input type="hidden" name="employee_id" value="{{employee.employee_id}}">
                </form>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="3">従業員はまだいません。</td></tr>
          {% endif %}
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <h4><a href="/add_employee" class="btn btn-primary">追加</a></h4>
      </div>
    </div>
  </div>
{% endblock %}
