{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <tr>
            <th scope="col" style="width:40%;">従業員ID</th>
            <th scope="col" style="width:40%;">ニックネーム</th>
            <th scope="col" style="width:20%;">操作</th>
          </tr>
          {% for employee in employees %}
            <tr>
              <td>{{employee.employee_id}}</td>
              <td>{{employee.nickname}}</td>
              <td>
                <form method="post" action="#">
                  <button type="button" class="btn btn-success" name="submit_button" data-action="/edit_employee">修正</button>
                  <button type="button" class="btn btn-danger" name="submit_button" data-action="/del_employee">削除</button>
                  <input type="hidden" name="employee_id" value="{{employee.employee_id}}">
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <h4><a href="/add_employee" class="btn btn-primary">追加</a></h4>
      </div>
    </div>
  </div>

<script>
$(function(){
    $('button').on('click', function(){
        var form = $(this).parents('form');
        form.attr('action', $(this).data('action'));
        form.submit();
    });
});
</script>
{% endblock %}
